@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Inter:300,500,600,700&display=swap);

[class*=__container]{
	max-width: 1470px;
	margin: 0 auto;
	padding: 50px 15px;
}
h1, h2{
	display: inline-block;
	font-size: 30px;
	margin-bottom: 15px;
	text-align: center;
}
.icons{
	max-width: 600px;
	background-color: red;
}
.images{
	margin: 10px 0;
}
.design{
	
	background: url("../img/design/01.svg") 10% no-repeat,
	url("../img/design/03.svg") 20% no-repeat,
	url("../img/design/02.svg") 30% no-repeat,
	url("../img/design/05.svg") 40% no-repeat,
	url("../img/design/06.svg") 50% no-repeat,
	url("../img/design/08.svg") 60% no-repeat,
	url("../img/design/11.svg") 70% no-repeat,
	url("../img/design/07.svg") 80% no-repeat,
	url("../img/design/09.svg") 90% no-repeat,
	url("../img/design/10.svg") 95% no-repeat,red;
padding: 0 20px 300px;
}
