@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");

body{
	font-family: "Poppins";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
	
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
.page{
	padding: 112px 0;
}
[class*="__container"]{
max-width: 1240px;
margin: 0 auto;
padding: 0 15px;
}

.page__minimalist_room{
	padding-bottom: 50px;
}
.room__header{
	width: 518px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 53px;
	color: #000000

}

.header__title {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
}
.header__image {
	width: 100%;
	margin-bottom: 100px;
}
.room__columns { 
	display: flex;
	gap: 32px;	
	align-items: flex-start;
	margin-bottom: 81px;
}
.column__item{
	flex: 0 1 48.6%;
}
.item__title:not(:last-child) {
	margin-bottom: 33px;
}
.item__text:not(:last-child) {
	margin-bottom: 51px;
}
.item__footer {
	display: flex;
	gap: 80px;
	align-items: flex-start;
}
.item__text p:not(:last-child) {
	margin-bottom: 30px;
}
.room__gallery {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
	width: 100%;
	flex: 0 0 auto;
}

.header__achievement{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-transform: uppercase;
	margin-bottom: 40px;
	
}
.header__achievement-title::after {
	content: "";
	display: inline-block;
	border: 2px solid black;
	width: 464px;
	position: relative;
	bottom: 4px;
	left: 26px;
}
.achievement__colums {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.colums__item {
	display: flex;
	gap: 120px;
}

.item__image {
	flex: 0 1 62.16%;
}
.item__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	flex: 1 1 27.84%x;
}
h3{
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color:#333333
}

/* -----ховери---- */
.room__header h1{
	transition: all 1s;
}
.room__header h1:hover{
color: rgba(255, 217, 0, 0.711);
transition: all 0.5s;
}

.item__title:hover{
	text-decoration: underline goldenrod;
	transition: all 0.3s;
}

.room__gallery_image{
	overflow: hidden;
	transition: 0.6s;
}

.room__gallery_image:hover img{
	transform: scale(1.1);
}

